.card-item {
    background: darkred;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 1px 1px 2px 2px black;
    margin: 5px;
    width: 250px;
    height: 200px;
    color: white;
    margin: 5px;
  }

.add
{
  opacity: 0;
}

.card:hover .add, .add:hover{
  opacity: 100;
}

.delete
{
  opacity: 0;
}

.task:hover .delete, .delete:hover{
  opacity: 100;
}